@chat-box-width: 350px;
@chat-box-height: 100%;
@avatar-width: 50px;
@message-margin-horizontal: 14px;
@message-margin-vertical: 13px;
@message-width: @chat-box-width - @avatar-width - @message-margin-horizontal*2 - 10;
@king-online-bar-height: 38px;

@sticker-size: 80px;


.snailkick-chat-box {

    //    width: @chat-box-width;
    width: inherit;
    height: @chat-box-height;
    float: left;

    background-color: rgba(0, 0, 0, .35);

    @client-bar-height: 60px;

    .client-bar {

        background-color: rgba(0, 0, 0, 0.25);

        z-index: 100;
        position: absolute;
        height: @client-bar-height;
        width: inherit;

        color: white;

        font: 12pt 'Cleanvertising', sans-serif;

        .avatar {

            @client-bar-avatar-size: 35px;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;

            border-radius: 30px;

            @client-bar-avatar-vert-margin: (( @client-bar-height - @client-bar-avatar-size ) / 2);

            margin: @client-bar-avatar-vert-margin 0 @client-bar-avatar-vert-margin 30px;

            height: @client-bar-avatar-size;
            width: @client-bar-avatar-size;

            display: inline-block;
            float: left;
        }

        .name, {
            display: inline-block;
            float: left;
            padding: 0 10px;
            position: relative;

            top: 50%;
            transform: translateY(-50%);

            a {
                color: white
            }
        }

        .logout {
            display: inline-block;
            float: right;
//            height: inherit;
            padding: 0 30px 0 0;

            position: relative;

            top: 50%;
            transform: translateY(-50%);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

        }

        .king-online-bar {

            color: white;
            font: 12pt 'Cleanvertising', sans-serif;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.35);
            overflow: hidden;

            //            opacity: 0;

            position: absolute;

            width: inherit;
            padding: 10px;

            transition: all 1s;

            bottom: -@king-online-bar-height;

        }

    }

    .messages-list {

        position: absolute;
        //        height: 100%;
        width: inherit;

        //        padding-bottom: @typing-box-height;

        top: @client-bar-height;
        bottom: @typing-box-height;

        &.chosen-sticker-offset {
            bottom: @typing-box-height + @sticker-size * 1.2;
        }

        &.show-king-bar {
            top: @client-bar-height + @king-online-bar-height;
        }

        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        &.transparent {

            opacity: 0.1;
            top: 0;
            bottom: 0;

        }

        .message {

            float: left;
            margin: 10px 0;
            padding: 0 10px;
            width: inherit;
            display: table;

            .avatar {

                border-radius: 30px;
                width: @avatar-width;
                height: @avatar-width;
                float: left;
                background-size: cover;
                background-position: center;
                display: table-cell;

            }

            .message-content-box {

                font: 11pt 'Cleanvertising', sans-serif;
                padding-left: 15px;
                width: inherit;
                display: table-cell;
                vertical-align: middle;
                height: inherit;

                .message-title {

                    height: 15px;

                    .client-name {
                        color: #bdffba;
                        cursor: pointer;
                        a {
                            color: #bdffba;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        float: left;

                        .statuses {

                            display: inline-block;
                            margin-left: 5px;
                            height: 15px;

                            .status {

                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                background-size: contain;
                                background-position: center;
                                position: relative;
                                margin: 0 5px -3px 5px;

                                &.elf {
                                    background-image: url(../images/elf.png);
                                }

                                &.king {
                                    background-image: url(../images/king.png);
                                }

                                &.queen {
                                    background-image: url(../images/queen.png);
                                }

                            }

                        }

                    }

                    .posted-time {
                        color: #bdffba;
                        float: right;
                    }

                }

                .message-text {
                    margin-top: 5px;
                    color: white;
                    font: 12pt 'Cleanvertising', sans-serif;
                    text-align: left;
                    word-break: break-word;
                }

                .message-sticker {
                    height: @sticker-size * 1.5;
                    width: @sticker-size * 1.5;
                    text-align: left;
                }

            }

            a {
                color: #D9CCFF;
                text-decoration: underline;
                &:hover {
                    color: #8c82ae;
                    text-decoration: none;
                }
            }

        }

    }

    @typing-box-height: 50px;

    .sticker-gallery {
        width: inherit;
        height: 200px;
        background-color: #000;
        position: absolute;
        bottom: @typing-box-height;

        z-index: 200;

        text-align: center;

        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .sticker {
            height: @sticker-size;
            width: @sticker-size;
            display: inline-block;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                background-color: rgba( 255,255,255, .2 );
            }
        }

    }

    // stickers
    .sticker {

        background: no-repeat center;
        background-size: contain;

        &.a01001 { background-image: url(../images/stickers/01/1.png); }
        &.a01002 { background-image: url(../images/stickers/01/2.png); }
        &.a01003 { background-image: url(../images/stickers/01/3.png); }
        &.a01004 { background-image: url(../images/stickers/01/4.png); }
        &.a01005 { background-image: url(../images/stickers/01/5.png); }
        &.a01006 { background-image: url(../images/stickers/01/6.png); }
        &.a01007 { background-image: url(../images/stickers/01/7.png); }
        &.a01008 { background-image: url(../images/stickers/01/8.png); }
        &.a01009 { background-image: url(../images/stickers/01/9.png); }
        &.a01010 { background-image: url(../images/stickers/01/10.png); }

        &.a02001 { background-image: url(../images/stickers/02/1.png); }
        &.a02002 { background-image: url(../images/stickers/02/2.png); }
        &.a02003 { background-image: url(../images/stickers/02/3.png); }
        &.a02004 { background-image: url(../images/stickers/02/4.png); }
        &.a02005 { background-image: url(../images/stickers/02/5.png); }
        &.a02006 { background-image: url(../images/stickers/02/6.png); }
        &.a02007 { background-image: url(../images/stickers/02/7.png); }

        &.aseranhelia { background-image: url(../images/stickers/seranhelia.png); }

    }


    .typing-box {

        position: absolute;
        height: 50px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.25);
        bottom: 0;
        display: table;

        .chosen-sticker {

            @chosen-sticker-box-height: 80px;

            position: absolute;
            width: 100%;
            height: @sticker-size * 1.2;
            background-color: #000;
            bottom: @typing-box-height;

            z-index: 100;

            .close-icon {
                float: right;
                width: 1.25em;
                height: 1.25em;
                background: url(../images/close.png) no-repeat center;
                background-size: contain;
                cursor: pointer;
                margin: 10px;
            }

        }

        .sticker-picker {

            display: table-cell;
            width: @typing-box-height;
            background: url('../images/smile.png') no-repeat center;
            background-size: 40%;
            opacity: 0.7;

            &.hide-picker {
                background-image: url( '../images/close.png' );
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

        }

        .text, .text:focus {
            height: inherit;
            padding: 15px 0;
            color: white;
            font: 12pt 'Cleanvertising', sans-serif;
            display: table-cell;

            input, input:focus {
                width: 100%;
                background: none;
                border: none;
                outline: none;
            }

        }

        .send-button {

            //            height: @typing-box-height;
            width: @typing-box-height;
            background: url('../images/send.png') no-repeat center;
            background-size: 40%;
            opacity: 0.7;
            display: table-cell;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

    }

    .auth-box {

        position: absolute;
        vertical-align: middle;

        top: 50%;
        transform: translateY(-50%);

        width: inherit;

        h1 {

            color: white;
            font: 26pt 'Cleanvertising', sans-serif;
            text-align: center;

        }

        h2 {

            font: 15pt 'Cleanvertising', sans-serif;
            color: white;
            text-align: center;
            width: 80%;
            margin: 35px auto;

        }

        .auth-buttons-container {

            display: table;
            width: 60%;
            margin: 0 auto;

            .auth-button {

                margin: 0 auto;
                height: 64px;
                width: 64px;

                background: no-repeat center;

                background-size: contain;
                display: table-cell;

                cursor: pointer;

                &.vk {

                    background-image: url('../images/vk.png');

                }

            }

        }

        .problems {

            font: 13pt 'Cleanvertising', sans-serif;
            color: rgb(168, 168, 168);
            text-align: center;
            margin: 35px auto;
            text-decoration: underline;
            cursor: pointer;

        }

    }

    .banned-box {

        position: absolute;
        vertical-align: middle;

        top: 50%;
        transform: translateY(-50%);

        width: inherit;

        h1 {

            color: white;
            font: 26pt 'Cleanvertising', sans-serif;
            text-align: center;

        }

    }

    .power-off-box {

        position: absolute;
        vertical-align: middle;

        top: 50%;
        transform: translateY(-50%);

        width: inherit;

        display: table;

        h1 {

            color: white;
            font: 18pt 'Cleanvertising', sans-serif;
            text-align: center;

        }

        .power-off-icon {

            width: inherit;
            height: 64px;
            //            display: table-row;

            background: url('../images/power-off.png') center no-repeat;
            background-size: contain;

            margin-top: 35px;

        }

    }

    .loading-box {

        position: absolute;
        width: inherit;
        bottom: 0;
        top: 0;

        .loading-image {

            height: 128px;
            width: inherit;
            background: url(../images/loading.png) center no-repeat;
            background-size: contain;
            position: absolute;

            top: 50%;
            transform: translateY(-50%);

            transition: all 0.5s linear;

            //            -webkit-animation-duration: 5s;
            //            -webkit-animation: loading;
            //            -webkit-animation-iteration-count: infinite;
            //            -webkit-animation-direction: alternate;

        }

    }

}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* font-family: "CleanvertisingLight"; */
@font-face {
    font-family: "Cleanvertising";
    src: url("../fonts/CleanvertisingLight.eot");
    src: url("../fonts/CleanvertisingLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CleanvertisingLight.woff") format("woff"),
    url("../fonts/CleanvertisingLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
