.snailkick-chat-box {
  width: inherit;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.35);
}
.snailkick-chat-box .client-bar {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: absolute;
  height: 60px;
  width: inherit;
  color: white;
  font: 12pt 'Cleanvertising', sans-serif;
}
.snailkick-chat-box .client-bar .avatar {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;
  margin: 12.5px 0 12.5px 30px;
  height: 35px;
  width: 35px;
  display: inline-block;
  float: left;
}
.snailkick-chat-box .client-bar .name {
  display: inline-block;
  float: left;
  padding: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.snailkick-chat-box .client-bar .name a {
  color: white;
}
.snailkick-chat-box .client-bar .logout {
  display: inline-block;
  float: right;
  padding: 0 30px 0 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.snailkick-chat-box .client-bar .logout:hover {
  text-decoration: underline;
  cursor: pointer;
}
.snailkick-chat-box .client-bar .king-online-bar {
  color: white;
  font: 12pt 'Cleanvertising', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: absolute;
  width: inherit;
  padding: 10px;
  transition: all 1s;
  bottom: -38px;
}
.snailkick-chat-box .messages-list {
  position: absolute;
  width: inherit;
  top: 60px;
  bottom: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.snailkick-chat-box .messages-list.chosen-sticker-offset {
  bottom: 146px;
}
.snailkick-chat-box .messages-list.show-king-bar {
  top: 98px;
}
.snailkick-chat-box .messages-list::-webkit-scrollbar {
  display: none;
}
.snailkick-chat-box .messages-list.transparent {
  opacity: 0.1;
  top: 0;
  bottom: 0;
}
.snailkick-chat-box .messages-list .message {
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  width: inherit;
  display: table;
}
.snailkick-chat-box .messages-list .message .avatar {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  float: left;
  background-size: cover;
  background-position: center;
  display: table-cell;
}
.snailkick-chat-box .messages-list .message .message-content-box {
  font: 11pt 'Cleanvertising', sans-serif;
  padding-left: 15px;
  width: inherit;
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title {
  height: 15px;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name {
  color: #bdffba;
  cursor: pointer;
  float: left;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name a {
  color: #bdffba;
  text-decoration: none;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name a:hover {
  text-decoration: underline;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses {
  display: inline-block;
  margin-left: 5px;
  height: 15px;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses .status {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  position: relative;
  margin: 0 5px -3px 5px;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses .status.elf {
  background-image: url(../images/elf.png);
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses .status.king {
  background-image: url(../images/king.png);
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses .status.queen {
  background-image: url(../images/queen.png);
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .client-name .statuses .status.brush {
  background-image: url(../images/brush.png);
}
.snailkick-chat-box .messages-list .message .message-content-box .message-title .posted-time {
  color: #bdffba;
  float: right;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-text {
  margin-top: 5px;
  color: white;
  font: 12pt 'Cleanvertising', sans-serif;
  text-align: left;
  word-break: break-word;
}
.snailkick-chat-box .messages-list .message .message-content-box .message-sticker {
  height: 120px;
  width: 120px;
  text-align: left;
}
.snailkick-chat-box .messages-list .message a {
  color: #D9CCFF;
  text-decoration: underline;
}
.snailkick-chat-box .messages-list .message a:hover {
  color: #8c82ae;
  text-decoration: none;
}
.snailkick-chat-box .sticker-gallery {
  width: inherit;
  height: 200px;
  background-color: #000;
  position: absolute;
  bottom: 50px;
  z-index: 200;
  text-align: center;
  overflow-y: scroll;
}
.snailkick-chat-box .sticker-gallery::-webkit-scrollbar {
  display: none;
}
.snailkick-chat-box .sticker-gallery .sticker {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}
.snailkick-chat-box .sticker-gallery .sticker:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.snailkick-chat-box .sticker {
  background: no-repeat center;
  background-size: contain;
}
.snailkick-chat-box .sticker.a01001 {
  background-image: url(../images/stickers/01/1.png);
}
.snailkick-chat-box .sticker.a01002 {
  background-image: url(../images/stickers/01/2.png);
}
.snailkick-chat-box .sticker.a01003 {
  background-image: url(../images/stickers/01/3.png);
}
.snailkick-chat-box .sticker.a01004 {
  background-image: url(../images/stickers/01/4.png);
}
.snailkick-chat-box .sticker.a01005 {
  background-image: url(../images/stickers/01/5.png);
}
.snailkick-chat-box .sticker.a01006 {
  background-image: url(../images/stickers/01/6.png);
}
.snailkick-chat-box .sticker.a01007 {
  background-image: url(../images/stickers/01/7.png);
}
.snailkick-chat-box .sticker.a01008 {
  background-image: url(../images/stickers/01/8.png);
}
.snailkick-chat-box .sticker.a01009 {
  background-image: url(../images/stickers/01/9.png);
}
.snailkick-chat-box .sticker.a01010 {
  background-image: url(../images/stickers/01/10.png);
}
.snailkick-chat-box .sticker.a02001 {
  background-image: url(../images/stickers/02/1.png);
}
.snailkick-chat-box .sticker.a02002 {
  background-image: url(../images/stickers/02/2.png);
}
.snailkick-chat-box .sticker.a02003 {
  background-image: url(../images/stickers/02/3.png);
}
.snailkick-chat-box .sticker.a02004 {
  background-image: url(../images/stickers/02/4.png);
}
.snailkick-chat-box .sticker.a02005 {
  background-image: url(../images/stickers/02/5.png);
}
.snailkick-chat-box .sticker.a02006 {
  background-image: url(../images/stickers/02/6.png);
}
.snailkick-chat-box .sticker.a02007 {
  background-image: url(../images/stickers/02/7.png);
}
.snailkick-chat-box .sticker.aseranhelia {
  background-image: url(../images/stickers/seranhelia.png);
}
.snailkick-chat-box .typing-box {
  position: absolute;
  height: 50px;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: table;
}
.snailkick-chat-box .typing-box .chosen-sticker {
  position: absolute;
  width: 100%;
  height: 96px;
  background-color: #000;
  bottom: 50px;
  z-index: 100;
}
.snailkick-chat-box .typing-box .chosen-sticker .close-icon {
  float: right;
  width: 1.25em;
  height: 1.25em;
  background: url(../images/close.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 10px;
}
.snailkick-chat-box .typing-box .sticker-picker {
  display: table-cell;
  width: 50px;
  background: url('../images/smile.png') no-repeat center;
  background-size: 40%;
  opacity: 0.7;
}
.snailkick-chat-box .typing-box .sticker-picker.hide-picker {
  background-image: url('../images/close.png');
}
.snailkick-chat-box .typing-box .sticker-picker:hover {
  opacity: 1;
  cursor: pointer;
}
.snailkick-chat-box .typing-box .text,
.snailkick-chat-box .typing-box .text:focus {
  height: inherit;
  padding: 15px 0;
  color: white;
  font: 12pt 'Cleanvertising', sans-serif;
  display: table-cell;
}
.snailkick-chat-box .typing-box .text input,
.snailkick-chat-box .typing-box .text:focus input,
.snailkick-chat-box .typing-box .text input:focus,
.snailkick-chat-box .typing-box .text:focus input:focus {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}
.snailkick-chat-box .typing-box .send-button {
  width: 50px;
  background: url('../images/send.png') no-repeat center;
  background-size: 40%;
  opacity: 0.7;
  display: table-cell;
}
.snailkick-chat-box .typing-box .send-button:hover {
  opacity: 1;
  cursor: pointer;
}
.snailkick-chat-box .auth-box {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  width: inherit;
}
.snailkick-chat-box .auth-box h1 {
  color: white;
  font: 26pt 'Cleanvertising', sans-serif;
  text-align: center;
}
.snailkick-chat-box .auth-box h2 {
  font: 15pt 'Cleanvertising', sans-serif;
  color: white;
  text-align: center;
  width: 80%;
  margin: 35px auto;
}
.snailkick-chat-box .auth-box .auth-buttons-container {
  display: table;
  width: 60%;
  margin: 0 auto;
}
.snailkick-chat-box .auth-box .auth-buttons-container .auth-button {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  background: no-repeat center;
  background-size: contain;
  display: table-cell;
  cursor: pointer;
}
.snailkick-chat-box .auth-box .auth-buttons-container .auth-button.vk {
  background-image: url('../images/vk.png');
}
.snailkick-chat-box .auth-box .problems {
  font: 13pt 'Cleanvertising', sans-serif;
  color: #a8a8a8;
  text-align: center;
  margin: 35px auto;
  text-decoration: underline;
  cursor: pointer;
}
.snailkick-chat-box .banned-box {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  width: inherit;
}
.snailkick-chat-box .banned-box h1 {
  color: white;
  font: 26pt 'Cleanvertising', sans-serif;
  text-align: center;
}
.snailkick-chat-box .power-off-box {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  width: inherit;
  display: table;
}
.snailkick-chat-box .power-off-box h1 {
  color: white;
  font: 18pt 'Cleanvertising', sans-serif;
  text-align: center;
}
.snailkick-chat-box .power-off-box .power-off-icon {
  width: inherit;
  height: 64px;
  background: url('../images/power-off.png') center no-repeat;
  background-size: contain;
  margin-top: 35px;
}
.snailkick-chat-box .loading-box {
  position: absolute;
  width: inherit;
  bottom: 0;
  top: 0;
}
.snailkick-chat-box .loading-box .loading-image {
  height: 128px;
  width: inherit;
  background: url(../images/loading.png) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s linear;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* font-family: "CleanvertisingLight"; */
@font-face {
  font-family: "Cleanvertising";
  src: url("../fonts/CleanvertisingLight.eot");
  src: url("../fonts/CleanvertisingLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CleanvertisingLight.woff") format("woff"), url("../fonts/CleanvertisingLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
