<div class="snailkick-chat-box">

    <!--<button ng-click="redirectToVkAuthPage()">
        redirectToVkAuthPage
    </button>-->

    <div class="messages-list" ng-controller="MessagesController">

        <div class="message"
                ng-repeat="message in messages">

            <div class="avatar" style="background-image: url({{ message.client.avatar }})"></div>

            <div class="message-content-box">

                <div class="message-title">

                    <div class="client-name">
                        {{ message.client.name }}
                    </div>
                    <div class="posted-time">
                        {{ message.posted.getHours() }}:{{ message.posted.getMinutes() }}
                    </div>

                </div>

                <div class="message-text">
                    {{ message.text }}
                </div>

            </div>

        </div>

    </div>

    <div class="typing-box">

        <input type="text" class="text"/>
        <div class="send-button"></div>

    </div>

</div>